<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" href="/favicon.ico">
</head>
<body>
  <header class="site-header">
    <h1><a href="/">{{ site.title }}</a></h1>
    <p class="tagline">{{ site.description }}</p>

    <nav class="site-nav">
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/resources/">Resources</a>
      <a href="/publications/">Publications</a>   
    </nav>
  </header>

  <main class="container">
    {{ content }}
  </main>

  <footer class="site-footer">
  <div class="footer-inner">
    <p><strong>Mike J. Masoud</strong> | <a href="mailto:mike@theaaci.com">mike@theaaci.com</a></p>
    <p>© 2026 Mike J. Masoud. All rights reserved.</p>
    <p class="site-legal">
      <a href="/disclaimer-and-copyright-notice/">Disclaimer and copyright notice</a>
    </p>
  </div>
</footer>
</body>
</html>
